@charset "UTF-8";
* {
  padding: 0%;
  margin: 0%;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

.body {
  display: grid;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}

main {
  grid-area: main;
  background-color: black;
}

@media screen and (max-width: 500px) {
  .body {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}
header {
  grid-area: header;
  font-size: 2rem;
  background-color: rgb(61, 61, 201);
}
header nav .logo {
  width: 100px;
  height: 100px;
}
header nav div ul li a:hover {
  text-decoration: underline;
  font-weight: bolder;
}

@media screen and (max-width: 500px) {
  header {
    background-color: rgb(197, 74, 74);
    display: grid;
    height: auto;
    width: auto;
  }
}
footer {
  grid-area: footer;
  display: flex;
  background-color: rgb(61, 61, 201);
  justify-content: space-around;
}
footer div a img {
  width: 50px;
  height: 50px;
}
footer p {
  color: white;
  text-align: center;
  margin-top: 20px;
}
footer p:hover {
  font-weight: bolder;
}
footer ul {
  list-style: none;
  display: flex;
}
footer ul li a img {
  width: 25px;
  height: 25px;
  margin-top: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 500px) {
  footer {
    background-color: rgb(197, 74, 74);
  }
}
.inicio section {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  overflow: hidden;
}
.inicio section h2 {
  font-size: 2.5rem;
  text-align: center;
  font-family: "Russo One", sans-serif;
  padding-top: 5px;
  color: white;
}
.inicio section p {
  font-size: 1.5rem;
  line-height: 120%;
  text-align: center;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 200px;
  margin-right: 200px;
}
.inicio section .contenedorImg {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
}
.inicio section .contenedorImg .fotoPartido {
  justify-content: space-around;
  border-radius: 5%;
  padding: 10px;
}
.inicio section .fotosContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  padding: 0%;
}
.inicio section .fotosContainer div img {
  padding: 5px 5px 5px 5px;
}
.inicio section .fotosContainer div iframe {
  padding: 5px 5px 5px 5px;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 500px) {
  .inicio section {
    display: grid;
    grid-template-rows: auto;
  }
  .inicio section p {
    margin-left: 0%;
    margin-right: 0%;
  }
  .inicio section .contenedorImg {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
  }
  .inicio section .contenedorImg .fotoPartido {
    padding: 5px;
    justify-content: center;
  }
  .inicio section .fotosContainer {
    display: grid;
    grid-template-columns: auto;
  }
}
.equipo .jugadores {
  padding-bottom: 10px;
}
.equipo .jugadores h2 {
  color: white;
  font-family: "Russo One", sans-serif;
  text-align: center;
  font-weight: bolder;
  padding-top: 10px;
}
.equipo .jugadores .containerEquipo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: auto auto auto;
}
.equipo .jugadores .containerEquipo .containerCard {
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  overflow: hidden;
}
.equipo .jugadores .containerEquipo .containerCard .card {
  width: 300px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  cursor: default;
  text-align: center;
  transition: all 0.25s;
}
.equipo .jugadores .containerEquipo .containerCard .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.equipo .jugadores .containerEquipo .containerCard .card img {
  width: 330px;
  height: 220px;
}
.equipo .jugadores .containerEquipo .containerCard .card h3 {
  font-weight: 600;
  font-family: "Russo One", sans-serif;
}
.equipo .jugadores .containerEquipo .containerCard .card ul li {
  padding: 0 1rem;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  text-align: justify;
}

@media screen and (max-width: 500px) {
  .equipo .jugadores h2 {
    font-size: 2rem;
    width: 100%;
  }
  .equipo .jugadores .containerEquipo {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
  .equipo .jugadores .containerEquipo .containerCard h3 {
    font-size: 2rem;
  }
}
.calendario h2 {
  font-family: "Russo One", sans-serif;
  color: white;
  text-align: center;
  padding-top: 10px;
}
.calendario .contenedorCalendario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}
.calendario .contenedorCalendario .meses h3 {
  text-align: center;
  width: 100%;
  font-size: 2.5rem;
  margin-top: 5px;
  color: aquamarine;
}
.calendario .contenedorCalendario .meses ol {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  font-size: 2rem;
  padding: 10px;
}
.calendario .contenedorCalendario .meses ol .Días {
  background: white;
  font-weight: bold;
  text-align: center;
}
.calendario .contenedorCalendario .meses ol .Primerdíaabril {
  grid-column-start: 6;
}
.calendario .contenedorCalendario .meses ol .Primerdíajunio {
  grid-column-start: 4;
}
.calendario .contenedorCalendario .meses ol .Primerdíajulio {
  grid-column-start: 6;
}
.calendario .contenedorCalendario .meses ol .Primerdíaagosto {
  grid-column-start: 2;
}
.calendario .contenedorCalendario .meses ol .Números {
  text-align: right;
  color: white;
}
.calendario .contenedorCalendario .meses ol .díapartido {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bolder;
  text-decoration-line: underline;
}
.calendario .contenedorCalendario .meses ol .díapartido:hover {
  text-decoration-line: none;
}

@media screen and (max-width: 500px) {
  .calendario .contenedorCalendario {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    margin-left: 5px;
    margin-right: 5px;
  }
  .calendario .contenedorCalendario .meses ol {
    font-size: 1rem;
    font-weight: bold;
    padding: 5px;
  }
}
.posiciones h2 {
  font-family: "Russo One", sans-serif;
  font-size: 2.5rem;
  color: white;
  text-align: center;
  padding-top: 5px;
}
.posiciones .contenedortabla {
  display: grid;
  justify-content: center;
  background-color: rgb(58, 61, 71);
}
.posiciones .contenedortabla table {
  border-collapse: separate;
  margin: 30px;
}
.posiciones .contenedortabla table .tituloTabla {
  color: white;
  font-size: 2.5rem;
  background-color: gray;
}
.posiciones .contenedortabla table .tituloTabla th {
  padding: 5px;
}
.posiciones .contenedortabla table .equipos {
  color: white;
  font-size: 1.5rem;
}
.posiciones .contenedortabla table .equipos:hover {
  font-weight: bold;
}
.posiciones .contenedortabla table .equipos td {
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .posiciones .contenedortabla table {
    margin: 0%;
  }
  .posiciones .contenedortabla table .tituloTabla {
    font-size: 1.5rem;
  }
  .posiciones .contenedortabla table .equipos {
    font-size: 1rem;
  }
}
* {
  padding: 0%;
  margin: 0%;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

.body {
  display: grid;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}

main {
  grid-area: main;
  background-color: black;
}

@media screen and (max-width: 500px) {
  .body {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}
.notas {
  overflow: hidden;
}
.notas .containernotas h2 {
  font-family: "Russo One", sans-serif;
  font-size: 2.5rem;
  color: white;
  text-align: center;
}
.notas .containernotas article {
  font-size: 1.5rem;
  line-height: 120%;
  text-align: justify;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
}
.notas .containernotas article p a {
  color: white;
  font-weight: bolder;
  text-decoration: none;
}
.notas .containernotas article p a:hover {
  text-decoration: underline;
}
.notas .containernotas article .contenedorImg {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  justify-content: space-around;
}
.notas .containernotas article .contenedorImg img {
  width: auto;
  height: auto;
  justify-content: center;
  padding: 10px;
  border-radius: 7%;
}

@media screen and (max-width: 500px) {
  .notas .containernotas article {
    text-align: center;
    padding: 0%;
  }
  .notas .containernotas article .contenedorImg {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .notas .containernotas article p {
    padding: 0 5px 0 5px;
  }
}
* {
  padding: 0%;
  margin: 0%;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

.body {
  display: grid;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}

main {
  grid-area: main;
  background-color: black;
}

@media screen and (max-width: 500px) {
  .body {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}
.notas {
  overflow: hidden;
}
.notas .containernotas h2 {
  font-family: "Russo One", sans-serif;
  font-size: 2.5rem;
  color: white;
  text-align: center;
}
.notas .containernotas article {
  font-size: 1.5rem;
  line-height: 120%;
  text-align: justify;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
}
.notas .containernotas article p a {
  color: white;
  font-weight: bolder;
  text-decoration: none;
}
.notas .containernotas article p a:hover {
  text-decoration: underline;
}
.notas .containernotas article .contenedorImg {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  justify-content: space-around;
}
.notas .containernotas article .contenedorImg img {
  width: auto;
  height: auto;
  justify-content: center;
  padding: 10px;
  border-radius: 7%;
}

@media screen and (max-width: 500px) {
  .notas .containernotas article {
    text-align: center;
    padding: 0%;
  }
  .notas .containernotas article .contenedorImg {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .notas .containernotas article p {
    padding: 0 5px 0 5px;
  }
}

/*# sourceMappingURL=estilos.css.map */
