// VARIABLES COLORES //
$colorNav: rgb(61, 61, 201);
$colorNav-cel: rgb(197, 74, 74);
$colorPrincipal: black;
$colorTexto: white;

// VARIABLES FUENTE // 
$fuenteSubtitulo: 'Russo One', sans-serif;
$fuenteParrafos: 'Montserrat', sans-serif;

// TAMAÑOS DE FUENTES //
$tamanio-desktop: 2.5rem;
$tamanio-movile: 1.5rem;

// VARIABLES POSICIONES //
$pos-desktop: center;
$pos-movile: justify;